body,ul{
margin: 0;padding: 0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
img {
    display: block;
    border: none;
}
#banner{
    width: 600px;
    height:300px;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
}
#list{
    position: absolute;
}
#list img{
    width: 600px;
    height:300px;
}
#control span{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    text-align: center;
    line-height: 50px;
    color:#fff;
    font-size: 40px;
    left:50%;
    margin-left:-25px;
    cursor:pointer;
    opacity: .5;
    filter:alpha(opacity=50);
    border-radius: 5px;
}
#control span:first-child{
    top:5px;
}
#control span:last-child {
    bottom: 5px;
}
#circle{
    position: absolute;
    width: 50px;
    height: 200px;
    bottom:10px;
    right:0px;
}
#circle li{
    margin:10px 0;
    width: 30px;
    height:30px;
    border-radius:50%;
    background-color: #fff;
    opacity: .5;
    filter:alpha(opacity=50);
    color:red;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
#circle li:hover,#circle li.hover{
    background-color: red;
    color:#fff;
}